[Unit]
Description=NenuScanner
After=network.target

[Service]
RestartSec=2s
Type=simple
WorkingDirectory=/home/pi/nenuscanner
ExecStart=poetry run nenuscanner
Restart=always

[Install]
WantedBy=default.target

