[Unit]
Description=NenuScanner
After=network.target

[Service]
RestartSec=2s
Type=simple
WorkingDirectory=/home/pi/nenuscanner/server
ExecStart=/home/pi/.local/bin/poetry run nenuscanner
Restart=always

[Install]
WantedBy=default.target

