.cameraSettings {
 
  height: 800px;
  border: 1px solid;
  overflow: scroll;
  scrollbar-color: red orange;
  scrollbar-width: thin;
}
img#preview {
  width: 640px;
  height: 480px;
  border: 1px solid black;
}


.switch-slice {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.switch-slice label {
  font-weight: bold;
}
.switch-slice .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.switch-slice .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-slice .slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px;
}
.switch-slice .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}
.switch-slice input:checked + .slider {
  background-color: #48c774;
}
.switch-slice input:checked + .slider:before {
  transform: translateX(26px);
}