{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-2">Visualisation de l'étalonnage {{ calibration.id }}</h1>
        {% if calibration.validated_date %}
        <h2 class="title is-5 is-italic">Validé le {{ calibration.get_pretty_date() }}</h2>{% endif %}
        <div class="notification is-info is-light">
            La visualisation 3D de l'étalonnage a été retirée du projet.
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="field is-horizontal is-grouped is-grouped-right">
            {% if calibration.state == CalibrationState.IsValidated %}
                <div class="control">
                    <button disabled class="button">
                        Cet étalonnage a déjà été validé
                    </button>
                </div>
                <div class="control">
                    <a href="/calibration/create" class="button is-link">Créer un nouvel étalonnage</a>
                </div>
            {% else %}
                <div class="control">
                    <a href="/calibration/cancel" class="button">Retourner à la page d'acquisition</a>
                </div>
                <div class="control">
                    <a href="/calibration/validate" class="button is-link">Valider l'étalonnage</a>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}

{% block extracss %}{% endblock extracss %}
{% block extrajs %}{% endblock extrajs %}
