@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

body {
  @apply m-0;
  font-family: 'Manrope';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-gray-900;
  }

  h1 {
    @apply text-4xl font-semibold text-gray-950;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --text-4xl: 48px;
  --text-4xl--line-height: 62px;
  --text-3xl: 32px;
  --text-3xl--line-height: 42px;
  --text-2xl: 24px;
  --text-xl--line-height: 31px;
  --text-xl: 20px;
  --text-xl--line-height: 26px;
  --text-lg: 18px;
  --text-lg--line-height: 23px;
  --text-md: 16px;
  --text-md--line-height: 21px;
  --text-sm: 14px;
  --text-sm--line-height: 18px;
  --text-subtle: 12px;
  --text-subtle--line-height: 16px;

  --color-brand-25: rgba(250, 251, 254, 1);
  --color-brand-50: rgba(245, 248, 254, 1);
  --color-brand-100: rgba(236, 240, 250, 1);
  --color-brand-200: rgba(220, 227, 244, 1);
  --color-brand-300: rgba(196, 205, 232, 1);
  --color-brand-400: rgba(156, 170, 209, 1);
  --color-brand-500: rgba(116, 132, 182, 1);
  --color-brand-600: rgba(66, 88, 255, 1);
  --color-brand-700: rgba(55, 73, 216, 1);
  --color-brand-800: rgba(46, 63, 180, 1);
  --color-brand-900: rgba(38, 54, 143, 1);
  --color-brand-950: rgba(30, 43, 111, 1);

  --color-blue-600: rgba(37, 99, 235, 1);

  --color-gray-25: rgba(252, 252, 253, 1);
  --color-gray-50: rgba(248, 250, 252, 1);
  --color-gray-100: rgba(241, 245, 249, 1);
  --color-gray-200: rgba(226, 232, 240, 1);
  --color-gray-300: rgba(203, 213, 225, 1);
  --color-gray-400: rgba(148, 163, 184, 1);
  --color-gray-500: rgba(100, 116, 139, 1);
  --color-gray-600: rgba(71, 85, 105, 1);
  --color-gray-700: rgba(51, 65, 85, 1);
  --color-gray-800: rgba(30, 41, 59, 1);
  --color-gray-900: rgba(15, 23, 42, 1);
  --color-gray-950: rgba(12, 17, 29, 1);

  --color-gray-o-25: rgba(252, 252, 253, 1);
  --color-gray-o-50: rgba(248, 250, 252, 1);
  --color-gray-o-100: rgba(241, 245, 249, 1);
  --color-gray-o-200: rgba(226, 232, 240, 1);
  --color-gray-o-300: rgba(203, 213, 225, 1);
  --color-gray-o-400: rgba(148, 163, 184, 1);
  --color-gray-o-500: rgba(100, 116, 139, 1);
  --color-gray-o-600: rgba(71, 85, 105, 1);
  --color-gray-o-700: rgba(51, 65, 85, 1);
  --color-gray-o-800: rgba(30, 41, 59, 1);
  --color-gray-o-900: rgba(15, 23, 42, 1);
  --color-gray-o-950: rgba(12, 17, 29, 1);

  --color-success-25: rgba(248, 255, 250, 1);
  --color-success-50: rgba(240, 253, 244, 1);
  --color-success-100: rgba(220, 252, 231, 1);
  --color-success-200: rgba(187, 247, 208, 1);
  --color-success-300: rgba(134, 239, 172, 1);
  --color-success-400: rgba(74, 222, 128, 1);
  --color-success-500: rgba(34, 197, 94, 1);
  --color-success-600: rgba(22, 163, 74, 1);
  --color-success-700: rgba(21, 128, 61, 1);
  --color-success-800: rgba(22, 101, 52, 1);
  --color-success-900: rgba(20, 83, 45, 1);
  --color-success-950: rgba(25, 44, 26, 1);

  --color-warning-25: rgba(255, 251, 246, 1);
  --color-warning-50: rgba(255, 247, 237, 1);
  --color-warning-100: rgba(255, 237, 213, 1);
  --color-warning-200: rgba(254, 215, 170, 1);
  --color-warning-300: rgba(253, 186, 116, 1);
  --color-warning-400: rgba(251, 146, 60, 1);
  --color-warning-500: rgba(249, 115, 22, 1);
  --color-warning-600: rgba(234, 88, 12, 1);
  --color-warning-700: rgba(194, 65, 12, 1);
  --color-warning-800: rgba(154, 52, 18, 1);
  --color-warning-900: rgba(124, 45, 18, 1);
  --color-warning-950: rgba(57, 25, 14, 1);

  --color-error-25: rgba(255, 250, 250, 1);
  --color-error-50: rgba(254, 242, 242, 1);
  --color-error-100: rgba(254, 226, 226, 1);
  --color-error-200: rgba(254, 202, 202, 1);
  --color-error-300: rgba(252, 165, 165, 1);
  --color-error-400: rgba(248, 113, 113, 1);
  --color-error-500: rgba(239, 68, 68, 1);
  --color-error-600: rgba(220, 38, 38, 1);
  --color-error-700: rgba(185, 28, 28, 1);
  --color-error-800: rgba(153, 27, 27, 1);
  --color-error-900: rgba(127, 29, 29, 1);
  --color-error-950: rgba(69, 8, 8, 1);

  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.141 0.005 285.823);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.141 0.005 285.823);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.141 0.005 285.823);
  --color-primary: oklch(0.21 0.006 285.885);
  --color-primary-foreground: oklch(0.985 0 0);
  --color-secondary: oklch(0.967 0.001 286.375);
  --color-secondary-foreground: oklch(0.21 0.006 285.885);
  --color-muted: oklch(0.967 0.001 286.375);
  --color-muted-foreground: oklch(0.552 0.016 285.938);
  --color-accent: oklch(0.967 0.001 286.375);
  --color-accent-foreground: oklch(0.21 0.006 285.885);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-destructive-foreground: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.92 0.004 286.32);
  --color-input: oklch(0.92 0.004 286.32);
  --color-ring: oklch(0.871 0.006 286.286);
  --color-chart-1: oklch(0.646 0.222 41.116);
  --color-chart-2: oklch(0.6 0.118 184.704);
  --color-chart-3: oklch(0.398 0.07 227.392);
  --color-chart-4: oklch(0.828 0.189 84.429);
  --color-chart-5: oklch(0.769 0.188 70.08);
  --color-sidebar: oklch(0.985 0 0);
  --color-sidebar-foreground: oklch(0.141 0.005 285.823);
  --color-sidebar-primary: oklch(0.21 0.006 285.885);
  --color-sidebar-primary-foreground: oklch(0.985 0 0);
  --color-sidebar-accent: oklch(0.967 0.001 286.375);
  --color-sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --color-sidebar-border: oklch(0.92 0.004 286.32);
  --color-sidebar-ring: oklch(0.871 0.006 286.286);
}
